 html {
 	height: 100%
 }

 body {
 	height: 100%; margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    color: #6F6F6F;
 }
 #map_canvas {
    width: 100%;
 	height: 100%
 }

 #add_map_canvas {
    height: 40%;
 }

 #add {
    position: absolute;
    bottom: 5px;
    margin-left: 86px;
 }

 .li {display:inline}

form#add_bathroom {
    padding: 20px;
}

form#add_bathroom input, form#add_bathroom select {
    padding: 5px;
    font-size: 14px;
    margin: 10px;
}

button, input.btn {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

 .sidebar {
 	height: 85%;
 	width: 25%;
 	float: right;
 	margin-top: 20px;
 	background-clip: padding-box;
	background-color: rgba(256,256,256, 0.9);
	border: 3px solid #EFEFEF;
	border-radius: 15px;
    right: 2%;
	min-height: 20px;
	min-width: 20px;
	position: fixed;
	top: 10px;
	z-index: 10;
    padding: 15px;
 }
 li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
 }

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:80px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	top:1px;
}


h1, h2, h3 {
	font-family: sans-serif;
	color: #444444;
    font-weight: 200;
}
h3 {
    color: #6F6F6F;
}

#addReviewForm {
    border: 2px solid #EEEEEE;
    border-radius: 10px;
    padding: 10px;
}




strong {
}

a {
	color: rgba(0,0,0,.8);
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

#allReviews {
    overflow: scroll;
    max-height: 470px;
}
.rating {
    font-size: 11px;
    font-style: italic;
}

.one_review {
border: 1px solid #ddd;
border-radius: 5px;
padding: 10px;
}
